<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.presidentapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserInfo"></activity>
        <activity
            android:name=".Register_user"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add_announcements" />
        <activity android:name=".Announcements" />
        <activity android:name=".ComplaintEdit" />
        <activity
            android:name=".multiple_building_page"
            android:label="My properties"
            android:screenOrientation="portrait" />
        <activity android:name=".MyBuildingEditBank" />
        <activity android:name=".Adapter.Bank_Full_Details_adapter" />
        <activity android:name=".MyBuilding.MyBuildingShowBankDetails" />
        <activity android:name=".MyBuilding.MybuildngAddBank" />
        <activity android:name=".MyBuilding.MyBuildingDocuments" />
        <activity android:name=".MyBuilding.MyBuildingBank" />
        <activity android:name=".MyBuilding.MyBuildingStatistics" />
        <activity android:name=".MyBuilding.MyBuildingInfo" />
        <activity android:name=".MyBuilding.MyBuildingWings" />
        <activity android:name=".Join_Your_Building" />
        <activity android:name=".Create_New_Society" />
        <activity android:name=".Join_Building_Page" />
        <activity android:name=".ShowComplaintDetails" />
        <activity android:name=".Add_complaints" />
        <activity android:name=".MyBuilding.MyBuildingEditBank" />
        <activity
            android:name=".VendorForm"
            android:parentActivityName=".Emergency_Number" />
        <activity
            android:name=".Add_event"
            android:parentActivityName=".Event" />
        <activity
            android:name=".Event"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EmergencyForm"
            android:parentActivityName=".Emergency_Number" />
        <activity
            android:name=".ContactsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Rules"
            android:label="Rules"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Gate_Keeper"
            android:label="Gate_Keeper"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Vehicles"
            android:label="Vehicles"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Complaints"
            android:label="Complaints"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".My_Building"
            android:label="My_Building"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Emergency_Number"
            android:label="Emergency_Number"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Society_Fund"
            android:label="Society_Fund"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Members"
            android:label="Members"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Bills"
            android:label="Bills"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Dashboard"
            android:launchMode="standard" />
        <activity android:name=".Member_Flats"
            android:label="MemberFlats"
            android:launchMode="standard">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>