<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.presidentapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".GateKeeper.GateKeeper_visitorstatshistory"
            android:label="Visitor Statistics and History"
            android:parentActivityName=".GateKeeper.GateKeeper_visitorstatshistory"/>



        <activity android:name=".GateKeeper.GateKeeper_gates_add"
            android:label="Add Gate "
            android:parentActivityName=".GateKeeper.GateKeeper_gates_add" />

        <activity android:name=".GateKeeper.GateKeeper_gates"
            android:label="Gates"
            android:parentActivityName=".GateKeeper.GateKeeper_gates"/>

        <activity android:name=".GateKeeper.GateKeeper_gatepass"
            android:label="Gate Pass "
            android:parentActivityName=".GateKeeper.GateKeeper_gatepass"/>

        <activity android:name=".GateKeeper.GateKeeper_gatekeepers"
            android:label="Gate Keepers"
            android:parentActivityName=".GateKeeper.GateKeeper_gatekeepers"
            />

        <activity android:name=".GateKeeper.GateKeeper_gatekeeper_add"
            android:label="Add Gate Keepers"
            android:parentActivityName=".GateKeeper.GateKeeper_gatekeeper_add"
            />



        <activity android:name=".Add_announcements"
            android:label="Add Announcements"
            android:parentActivityName=".Add_announcements" />

        <activity android:name=".Announcements"
            android:label="Announcements"
            android:parentActivityName=".Announcements" />

        <activity android:name=".ComplaintEdit"
            android:label="Edit Complaint"
            android:parentActivityName=".ComplaintEdit"/>


        <activity
            android:name=".Register_user"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity android:name=".UserInfo"
            android:label="User Info"
            android:parentActivityName=".UserInfo" />


        <activity
            android:name=".multiple_building_page"
            android:label="My Society"
            android:screenOrientation="portrait" />

        <activity android:name=".MyBuilding.MyBuildingShowBankDetails"
            android:label="Bank Details"
            android:parentActivityName=".MyBuilding.MyBuildingShowBankDetails"/>

        <activity android:name=".MyBuilding.MybuildngAddBank"
            android:label="Add Bank Detail"
            android:parentActivityName=".MyBuilding.MybuildngAddBank"/>

        <activity android:name=".MyBuilding.MyBuildingDocuments"
            android:label="Documents"
            android:parentActivityName=".MyBuilding.MyBuildingDocuments" />

        <activity android:name=".MyBuilding.MyBuildingBank"
            android:label="Bank"
            android:parentActivityName=".MyBuilding.MyBuildingBank" />

        <activity android:name=".MyBuilding.MyBuildingStatistics"
            android:label="Statistics"
            android:parentActivityName=".MyBuilding.MyBuildingStatistics"/>

        <activity android:name=".MyBuilding.MyBuildingInfo"
            android:label="Building Information"
            android:parentActivityName=".MyBuilding.MyBuildingInfo"/>

        <activity android:name=".MyBuilding.MyBuildingWings"
            android:label="Wings Details "
            android:parentActivityName=".MyBuilding.MyBuildingWings" />

        <activity android:name=".Join_Your_Building" />

        <activity android:name=".Create_New_Society"
            android:label="Create New Society"
            android:parentActivityName=".Create_New_Society"/>

        <activity android:name=".Join_Building_Page" />


        <activity android:name=".ShowComplaintDetails"
            android:label="Complaints Details"
            android:parentActivityName=".MainActivity" />


        <activity android:name=".Add_complaints"
            android:label="Add New Complaint"
            android:parentActivityName=".Add_complaints"/>

        <activity android:name=".MyBuilding.MyBuildingEditBank"
            android:label="Edit Bank Details"
            android:parentActivityName=".MyBuilding.MyBuildingEditBank"/>

        <activity
            android:name=".VendorForm"
            android:label="Vendor Details Form"
            android:parentActivityName=".VendorForm" />
        <activity
            android:name=".Add_event"
            android:label="Add Event"
            android:parentActivityName=".Add_event" />
        <activity
            android:name=".Event"
            android:label="Events"
            android:parentActivityName=".Event" />
        <activity
            android:name=".EmergencyForm"
            android:label="Emergency Details Form"
            android:parentActivityName=".EmergencyForm" />
        <activity
            android:name=".ContactsActivity"
            android:label="Contact Us"
            android:parentActivityName=".ContactsActivity" />
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:parentActivityName=".Profile" />
        <activity
            android:name=".Rules"
            android:label="Rules"
            android:parentActivityName=".Rules" />
        <activity
            android:name=".Gate_Keeper"
            android:label="Gate Keeper"
            android:parentActivityName=".Gate_Keeper" />
        <activity
            android:name=".Vehicles"
            android:label="Vehicles"
            android:parentActivityName=".Vehicles" />
        <activity
            android:name=".Complaints"
            android:label="Complaints"
            android:parentActivityName=".Complaints" />
        <activity
            android:name=".My_Building"
            android:label="My Building"
            android:parentActivityName=".My_Building" />
        <activity
            android:name=".Emergency_Number"
            android:label="Emergency Number"
            android:parentActivityName=".Emergency_Number" />
        <activity
            android:name=".Society_Fund"
            android:label="Society Fund"
            android:parentActivityName=".Society_Fund" />
        <activity
            android:name=".Members"
            android:label="Members"
            android:parentActivityName=".Members" />
        <activity
            android:name=".Bills"
            android:label="Bills"
            android:parentActivityName=".Bills" />
        <activity
            android:name=".MainActivity"
            android:label="Dashboard"
            android:launchMode="standard" />

        <activity android:name=".Member_Flats"
            android:label="Member Flats"
            android:parentActivityName=".Member_Flats"
            android:launchMode="standard">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>